H1{
 text-decoration: underline;
 font-size: 330px;
}

.Character {
color: 000000;
}

.armory {
color: FFFFFF;
}

#Länk{
color: White;
}

#Länk:visited {
color: blue;
}

h2{
color: White;
}

#Länk2{
color: Blue;
}

#Länk2:visited {
color: White;
}